.vscode
checkpoints/
densedepth/data/
data-preparation/nyu_depth_v2_labeled.mat
runs/
weights/
data/
*.pth
*.ckpt
*.pt
__pycache__/*
*.pyc  
*.pyo
.env
*.cfg
*.ini
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
output/
results/
.venv/
